.statistics-container {
    display: flex;
    justify-content: space-around;
}

.statistics-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}