#my-queries {
    display: flex;
    justify-content: center;
}

#my-queries-container {
    width: 50%;
}

#my-queries input {
    text-align: right;
}

#my-queries div.ui.input {
    width: 60%;
}

.ui.button.close-button {
    float: left;
}